.App {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #086434;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
}


input {
  padding: 10px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: #086434;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #04c46b;
}

div.error {
  color: #ff4242;
}

div.stock-data {
  background-color: #0a8f68;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

div.stock-data h2,
div.stock-data p {
  margin: 5px 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-control:focus {
  box-shadow: none;
  border-color: #04c46b;
}

.btn-primary {
  background-color: #086434 !important;
  border-color: #04c46b !important;
}

.btn-primary:hover {
  background-color: #04c46b;
}
